<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%for(var i=0; i < post.length; i++){%>
    <title><%=post[i].category%></title>
    <%}%>
    <link rel="icon" href="/favicon.png" />
    <link rel="stylesheet" href="/global_css.css" />
    <link rel="stylesheet" href="/navmenu.css" />
    <link rel="stylesheet" href="/ad-post.css" />
  </head>

  <body>
    <div class="container">
      <div class="navigation">
        <ul>
          <li>
            <a href="/dashboard">
              <span class="icon">
                <ion-icon name="people-outline"></ion-icon>
              </span>
              <span class="title">
                <h2>ClientConnect</h2>
              </span>
            </a>
          </li>
          <li class="hovered">
            <a href="/dashboard">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="/post/createPost">
              <span class="icon">
                <ion-icon name="card-outline"></ion-icon>
              </span>
              <span class="title">Provider</span>
            </a>
          </li>
          <li>
            <a href="/customer">
              <span class="icon">
                <ion-icon name="cart-outline"></ion-icon>
              </span>
              <span class="title">Customer</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
              </span>
              <span class="title">Chat</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="help-circle-outline"></ion-icon>
              </span>
              <span class="title">Help</span>
            </a>
          </li>

          <li>
            <a href="/logout">
              <span class="icon">
                <ion-icon name="exit-outline"></ion-icon>
              </span>
              <span class="title">Sign Out</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- main -->
      <div class="main">
        <div class="topbar">
          <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
          </div>
          <!-- search -->
          <!-- <div class="search">
              <label for="">
                <input type="text" placeholder="Search here" />
                <ion-icon name="search-outline"></ion-icon>
              </label>
            </div> -->
          <!-- userimg -->
          <div class="user">
            <img src="/img/users/default.png" alt="USER" height="50px" />
          </div>
        </div>
        <div style="display: flex; flex-wrap: wrap">
          <%for(var i=0; i < post.length; i++){%>
          <div class="item">
            <!-- <h2>Details for <%=i+1%>:</h2> -->
            <ul>
              <li class="item_name">
                <small>NAME</small>
                <br />
                <%=post[i].name%>
              </li>
              <li class="item_description">
                <button type="button" class="btn description">
                  View Description
                </button>
                <br />
                <div class="desc"><%=post[i].description%></div>
              </li>
              <li class="item_price">
                <small>PRICE</small>
                <br />
                Rs.<%=post[i].price%>
              </li>
              <button class="btn">SELECT</button>
            </ul>
          </div>
          <%}%>
        </div>
        <br />
      </div>
    </div>
    <!-- IONICONS CDN -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <!-- Navmenu js -->
    <script src="/navmenu.js"></script>

    <script>
      var x = document.querySelector(".description");
      console.log(x);
    </script>
  </body>
</html>
