<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ClientConnect-Provider</title>
  <!-- bootstrap cdn -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <!-- animate.css cdn -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!-- SLICK CDN -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="icon" href="/favicon.png" />
  <link rel="stylesheet" href="/global_css.css" />
  <link rel="stylesheet" href="/navmenu.css" />
  <link rel="stylesheet" href="/style_dashboard.css" />
  <link rel="stylesheet" href="/ad-post-new.css">
  <style>
    .container1 {
      position: relative;
      width: 100%;
    }

    .carousel-item>img {
      max-width: 200px;
      max-height: 175px !important;
    }

    .main2 {
      width: 450px;
    }

    .left,
    .right {
      margin: 1rem;
    }
  </style>
</head>

<body>
  <div class="container1">
    <div class="navigation">
      <ul style="margin: 0 !important; padding: 0  !important;">
        <li>
          <a href="/dashboard">
            <span class="icon">
              <ion-icon name="people-outline"></ion-icon>
            </span>
            <span class="title">
              <h2>ClientConnect</h2>
            </span>
          </a>
        </li>
        <li>
          <a href="/dashboard">
            <span class="icon">
              <ion-icon name="home-outline"></ion-icon>
            </span>
            <span class="title">Dashboard</span>
          </a>
        </li>
        <li class="hovered">
          <a href="/provider">
            <span class="icon">
              <ion-icon name="card-outline"></ion-icon>
            </span>
            <span class="title">Provider</span>
          </a>
        </li>
        <li>
          <a href="/customer">
            <span class="icon">
              <ion-icon name="cart-outline"></ion-icon>
            </span>
            <span class="title">Customer</span>
          </a>
        </li>
        <!-- <li>
          <a href="#">
            <span class="icon">
              <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
            </span>
            <span class="title">Chat</span>
          </a>
        </li> -->
        <li>
          <a href="#">
            <span class="icon">
              <ion-icon name="help-circle-outline"></ion-icon>
            </span>
            <span class="title">Help</span>
          </a>
        </li>
        <li>
          <a href="/profile/<%=id%>">
            <span class="icon">
              <ion-icon name="person-circle-outline"></ion-icon>
            </span>
            <span class="title">Edit Profile</span>
          </a>
        </li>
        <li>
          <a href="/logout">
            <span class="icon">
              <ion-icon name="exit-outline"></ion-icon>
            </span>
            <span class="title">Sign Out</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- main -->
    <div class="main">
      <div class="topbar">
        <div class="toggle">
          <ion-icon name="menu-outline"></ion-icon>
        </div>
        <div class="user">
          <a href="/profile/<%=id%>">
            <img src="<%=pic.url%>" alt="USER" height="50px" />
          </a>
        </div>
      </div>
      <!-- SLIDER -->

      <section id="sliding">
        <p style="opacity: 0.4">Services:</p>
        <div class="slider">
          <div class="slides slide slick-slide">
            <a href="/post/?category=ApplianceRepair" target="_blank"><img src="/assets/appliancerepair.jpg"
                alt="Appliance Repair" class="img-responsive" />Appliance Repair
            </a>
          </div>
          <div class="slides slide slick-slide">
            <a href="/post/?category=Painting" target="_blank"><img src="/assets/painting.jpg" alt="Painting"
                class="img-responsive" />Painting</a>
          </div>
          <div class="slides slide slick-slide">
            <a href="/post/?category=Cleaning" target="_blank"><img src="/assets/cleaning.jpg" alt="Cleaning"
                class="img-responsive" />Cleaning</a>
          </div>
          <div class="slides slide slick-slide">
            <a href="/post/?category=Plumbing" target="_blank"><img src="/assets/plumbing.jpg" alt="Plumbing"
                class="img-responsive" />Plumbing</a>
          </div>
          <div class="slides slide slick-slide">
            <a href="/post/?category=PestControl" target="_blank"><img src="/assets/pestcontrol.jpg" alt="Pest Control"
                class="img-responsive" />Pest Control</a>
          </div>
          <div class="slides slide slick-slide">
            <a href="/post/?category=ElectricalRepair" target="_blank"><img src="/assets/electricalrepairing.jpg"
                alt="Electrical" class="img-responsive" />Electrical Repairing</a>
          </div>
          <div class="slides slide slick-slide">
            <a href="/post?category=Carpenter" target="_blank"><img src="/assets/carpenter.jpg" alt="Carpenter"
                class="img-responsive" />Carpenter</a>
          </div>
          <div class="slides slide slick-slide">
            <a href="/post/?category=CarWash" target="_blank"><img src="/assets/carwash.jpg" alt="CarWash"
                class="img-responsive" />Car Wash</a>
          </div>
        </div>
      </section>
      <section id="sliding">
        <p style="opacity: 0.4">Products:</p>
        <div class="slider">
          <div class="slides slide slick-slide">
            <a href="/post/?category=Mobile,Laptop" target="_blank"><img src="/assets/mobilelaptop.jpg"
                alt="Mobile,Laptop" class="img-responsive" />Mobile,Laptop&PC</a>
          </div>
          <div class="slides slide slick-slide">
            <a href="/post/?category=HomeAppliances" target="_blank"><img src="/assets/homeappliances.jpg"
                alt="TV,Home Appliances" class="img-responsive" />Appliances</a>
          </div>
          <div class="slides slide slick-slide">
            <a href="/post/?category=BeautyProducts" target="_blank"><img src="/assets/beautyproducts.jpg" alt="Beauty"
                class="img-responsive" />Beauty Products</a>
          </div>
          <div class="slides slide slick-slide">
            <a href="/post/?category=KitchenAppliances" target="_blank"><img src="/assets/kitchenappliances.jpg"
                alt="Kitchen Appliances" class="img-responsive" />Kitchen Appliances</a>
          </div>
          <div class="slides slide slick-slide">
            <a href="/post/?category=Sports" target="_blank"><img src="/assets/sports.jpg" alt="Sports"
                class="img-responsive" />Sports</a>
          </div>
          <div class="slides slide slick-slide">
            <a href="/post/?category=Stationery" target="_blank"><img src="/assets/stationery.jpg" alt="Stationery"
                class="img-responsive" />Stationery</a>
          </div>
          <div class="slides slide slick-slide">
            <a href="/post/?category=Books" target="_blank"><img src="/assets/books.jpg" alt="Stationery"
                class="img-responsive" />Books</a>
          </div>
          <div class="slides slide slick-slide">
            <a href="/post/?category=Groceries" target="_blank"><img src="/assets/groceries.jpg" alt="Groceries"
                class="img-responsive" />Groceries</a>
          </div>
        </div>
      </section>
      <div style="margin: 2rem 1rem;padding: 0.5rem; width: 100%;">
        <%if(num==0){%>
          <div style="display:flex; justify-content: space-between; padding: 0  2rem;">
            <p style="opacity: 0.4">Your Posts:</p>
          </div>
          <div style="display: flex; justify-content: center; align-items: center; margin-top: 0.5rem;">
            <h4 style="margin: auto;">No posts yet</h4>
          </div>
          <div style="margin: 1rem auto; display: flex; gap: 0.5rem; justify-content: center; align-items: center;">
            <p style="margin: 0; padding: 0">Willing to Sell / Provide? Click Here
            </p>
            <ion-icon name="arrow-forward-circle-outline"
              style="font-size: 1.2rem !important; height: 1.1rem !important;">
            </ion-icon>
            <a style="text-decoration: none !important;" href="/createPost/<%=id%>">
              <button style="width: fit-content;">
                Add Post
              </button>
            </a>
          </div>
          <%}else{%>
            <div style="display:flex; justify-content: space-between; padding: 0 2rem;">
              <p style="opacity: 0.4">Your Posts:</p>
              <a style="text-decoration: none !important; width: fit-content;" href="/createPost/<%=id%>">
                <button>
                  Add Post
                </button>
              </a>
            </div>
            <div style="display: flex; gap: 1rem; padding: 1rem; flex-wrap: wrap; justify-content: center;">
              <%for(var i=0; i < post.length; i++){%>
                <div style="display: flex; flex-wrap: wrap; align-items: center; justify-content: center; zoom: 80%">
                  <div class="main2">
                    <!-- <div class="item"> -->
                    <div class="left">
                      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <%for(var j=0;j< post[i].image.length;j++){ %>
                            <div class="carousel-item" style="border-radius:12px">
                              <img style="border-radius: 15px;" src="<%=post[i].image[j].url%>"
                                class="d-block w-100" alt="..." />
                            </div>
                            <%}%>
                        </div>
                      </div>

                      <!-- carousel -->

                      <div><button>Buy</button></div>
                      <div><a style="text-decoration: none !important" href="/post/deletePost/<%=post[i]._id%>">
                          <button>Delete</button></a></div>
                    </div>
                    <div class="right" style="text-align: center;">
                      <div>
                        <h1>
                          <b>
                            <%=post[i].name%>
                          </b>
                        </h1>
                      </div>
                      <div>
                        <div class="desc">
                          <%=post[i].description%>
                        </div>
                      </div>
                      <div class="price-buy">
                        <div>
                          <p class="price"><span style="font-size:1.5rem; font-weight: bolder;">₹</span>
                            <%=post[i].price%>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <%}%>
            </div>
            <br />
            <%}%>
      </div>

    </div>
  </div>
  <!-- BOOTSTRAP CDN -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- IONICONS CDN -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <!-- JS FILE -->
  <script src="/navmenu.js"></script>
  <script src="/script_dashboard.js"></script>
  <!-- SCRIPT FOR SLIDER -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- slick slide -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <!-- <script type="text/javascript">
    window.history.forward();
    function noBack() {
      window.history.forward();
    }
  </script> -->
</body>
<!-- <script type="text/javascript">
  window.history.forward();
  function noBack() {
    window.history.forward();
  }
</script> -->
<script>

  let div0 = document.querySelectorAll(".carousel-inner");
  console.log(div0);
  div0.forEach((el) => {
    el.firstElementChild.classList.add("active");
  });
  console.log(div0);
      // div0[0].classList.add("active");

</script>

</body>

</html>